<!DOCTYPE html>
<html>
  <body>
	{% extends "layout.html" %}
	{% block content %}
   		<div class="about">
     			<h1>About me</h1>
    			 <p>This is a portfolio site about anything that can be put in a 					portfolio.</p>
   		</div>
 	{% endblock %}   

  </body>
</html>
